<a href="https://colab.research.google.com/github/sarkarsubir408/Subir-Sarkar/blob/main/C1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Ardent",end=" ")
print("Kolkata")

Ardent Kolkata

In [ ]:
print(8*'Kolkata ')

Kolkata Kolkata Kolkata Kolkata Kolkata Kolkata Kolkata Kolkata

In [ ]:
a=2
b=3
a+b
type(a)

int

In [ ]:
a=9
b=8.9
c=1+5j
d="abcd"
e='a'
print(type(a==b))
print((a==b))
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))

<class 'bool'>
False
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>

In [ ]:
c=[3,5,6,7,2,85,34,23,45,12]
c[::-1]

[12, 45, 23, 34, 85, 2, 7, 6, 5, 3]

In [ ]:
a=(3,4,5,66,75,88,22)
b={3,4,5,66,75,88,22}
c=[3,4,5,66,75,88,22]
print(type(a))
print(type(b))
print(type(c))

<class 'tuple'>
<class 'set'>
<class 'list'>

In [ ]:
a,b=2,5
a,b=b,a
print(a)
print(b)

5
2